h1 {
  font-size: larger;
}

input {
  width: 15em;
}

select {
  width: 15.5em;
}

input[type="button"], input[type="submit"], input[type="reset"] {
	width: initial;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

aside, footer {
  font-size: smaller;
}

ul {
  -webkit-padding-start: 2em;
}
