body {
  background-color: seashell;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: rgba(255, 255, 255, 0.7);
}

h1 {
  font-size: larger;
}

input {
  width: 15em;
}

select {
  width: 15.5em;
}

input[type="button"], input[type="submit"], input[type="reset"] {
	width: initial;
}

form {
  max-width: 23em;
}

.right {
  float: right;
}

.p {
  padding: 0.3em;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

aside, footer {
  font-size: smaller;
}

ul {
  -webkit-padding-start: 2em;
}
