h1 {
  font-size: larger;
}

input, select {
	width: 15em;
}

input[type="button"], input[type="submit"], input[type="reset"] {
	width: initial;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.wrap nav ul {
  font-size: smaller;
  -webkit-padding-start: 2em;
}
